{% extends "base.html" %}
{% block content %}

<div class="card">
  <h1>Add Technician Login</h1>

  <form method="POST" class="form-card">
    <label>Name</label>
    <input name="name" required>

    <label>Email / Login</label>
    <input name="email" required>

    <label>Phone</label>
    <input name="phone">

    <label>Address</label>
    <input name="address">

    <label>Password</label>
    <input name="password" placeholder="Example: tech123">

    <button type="submit">Create Technician Login</button>
  </form>
</div>

{% endblock %}
